<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Welcome to Planmate!</h1>
    <h2>Sign in</h2>
    <form action="/" method="post">
      <fieldset>
        <input
          type="email"
          name="email"
          placeholder="Email"
          autocomplete="on"
          required
        /><br />
        <input
          type="password"
          name="password"
          placeholder="Password"
          autocomplete="off"
          required
        /><br />
        <button type="submit" id="login">Login</button><br />
        <button type="submit">Create Account</button><br />
        <button type="submit">Sign in with Google</button><br />
        <a href="#">Forgot your Email or Password?</a>
      </fieldset>
    </form>
  </body>
</html>
