<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플랜메이트</title>
    <link href="./images/config-1.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="./main.css">

</head>
<body>
    <header>
        <nav id="header">
            <div class="header-btn">
                <img id="logo-img" src="./images/logo-en.png" alt="logo button">
            </div>
            <div class="header-btn">
                <button id="logout-btn">로그아웃</button>
            </div>
        </nav>
    </header>

    <main>
        <div id="content-holder">
            <div class="content-box" id="calender-holder"></div>

            <div class="content-box" id="material-holder">
                <div class="diary" id="diary-feed">
                    <nav>
                        <ul>
                            <li>플랜</li>
                            <li>일기</li>
                        </ul>
                    </nav>

                    <div class="diary-contents">
                        <p id="diary-feed">피드</p>
                        <p class="diary-date">2023.01.24(화)</p>
                        <ol>
                            <li class="diary">
                                <img id="feelingcon" src="./images/config-2.png">
                                <p>이경은의 일기</p>
                            </li>
                            <li class="diary">
                                <img id="feelingcon" src="./images/config-2.png">
                                <p>이경은의 일기</p>
                            </li>
                            <li class="diary">
                                <img id="feelingcon" src="./images/config-2.png">
                                <p>이경은의 일기</p>
                            </li>
                        </ol>

                        <p class="diary-date">2023.01.24(화)</p>
                        <ol>
                            <li class="diary">
                                <img id="feelingcon" src="./images/config-2.png">
                                <p>이경은의 일기</p>
                            </li>
                            <li class="diary">
                                <img id="feelingcon" src="./images/config-2.png">
                                <p>이경은의 일기</p>
                            </li>

                        </ol>

                    </div>
                </div>
            </div>

        </div>

    </main>
</body>
</html>