<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <fieldset>
        <input type="text" name="email" placeholder="Email" /><br />
        <input type="password" name="password" placeholder="Password" /><br />
        <input
          type="password"
          name="passwordConfirm"
          placeholder="PasswordConfirm"
        /><br />
        <div id="firstName">
          <input type="text" name="firstName" placeholder="First Name" /><br />
        </div>
        <div id="lastName">
          <input type="text" name="lastName" placeholder="Last Name" /><br />
        </div>
        <!-- 국가코드 -->
        <input type="tel" placeholder="Phone Number" name="phoneNumber" /><br />
        <label for="birthDay">Date of Birth</label><br />
        <input type="date" name="birthDay" />
        <button type="submit">Register</button>
      </fieldset>
    </form>
  </body>
</html>
