<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="post">
      <fieldset>
        <label for="username">Username</label><br />
        <input type="text" name="username" /><br />

        <label for="password">Password</label><br />
        <input type="password" name="password" /><br />

        <label for="passwordConfirm">Password Confirm</label><br />
        <input type="password" name="passwordConfirm" /><br />
        <div id="firstName">
          <label for="firstName">First Name</label><br />
          <input type="text" name="firstName" /><br />
        </div>
        <div id="lastName">
          <label for="lastName">Last Name</label><br />
          <input type="text" name="lastName" /><br />
        </div>
        <!-- 국가코드 -->
        <label for="phoneNumber">Phone Number</label><br />
        <input type="tel" /><br />
      </fieldset>
    </form>
  </body>
</html>
