* {
  margin: 0;
  padding: 0;
}

#new-diary {
  margin: 25px auto;
  align-self: center;
}

#close-diary {
  all: unset;
  float: right;
  font-size: 30px;
  color: #8b9fb7;
}

.today-date {
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

#select-feeling {
  display: flex;
  justify-content: center;
}

.choose-feeling {
  width: 40px;
  height: 40px;
  padding: 0 2%;
}

.write-diary {
  display: block;
  align-self: center;
  margin: 60px auto;
  background-color: white;
  width: 90%;
  height: 300px;
  border: 1.5px solid #262c3d;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
}

.upload-diary {
  all: unset;
  display: block;
  margin: 0 auto;
  color: #262c3d;
  text-align: center;
  background-color: #e0e8f2;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

#close-diary {
  cursor: pointer;
}
