/* 폰트 */
@font-face {
  font-family: 'NEXON Bold';
  src: url('../font/NEXON Lv1 Gothic OTF Bold.otf');
}
@font-face {
  font-family: 'NEXON Light';
  src: url('../font/NEXON Lv1 Gothic OTF Light.otf');
}
@font-face {
  font-family: 'NEXON';
  src: url('../font/NEXON Lv1 Gothic OTF.otf');
}

#calender-holder {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}