/* 폰트 */
@font-face {
  font-family: 'NEXON Bold';
  src: url('../font/NEXON Lv1 Gothic OTF Bold.otf');
}
@font-face {
  font-family: 'NEXON Light';
  src: url('../font/NEXON Lv1 Gothic OTF Light.otf');
}
@font-face {
  font-family: 'NEXON';
  src: url('../font/NEXON Lv1 Gothic OTF.otf');
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1020px) {
}

/* 반응형 웹 */
/* @container (max-width : 500px) {
  .contentBoxHeader {
    font-size: 5px;
  }
} */

li {
  list-style: none;
}

/* *****  HEADER  ***** */
header {
  width: 100%;
  background-color: #e1eaf4;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.header-btn {
  margin: 15px 50px;
}

header .header-btn #logo-img {
  width: 100px;
  height: 25px;
}

header .header-btn #logout-btn {
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  background-color: #8b9fb7;
  color: #e0e8f2;
}

/* *****  MAIN  ***** */
main #content-holder {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  margin: 50px auto;
}

main .content-box {
  width: 70%;
  height: 700px;
  border: 1px solid #262c3d;
  border-radius: 5px;
  overflow: visible;
}

/* *****  CALENDER SECTION  ***** */
main #content-holder #calender-holder {
  justify-self: right;
}

/* *****  MATERIAL SECTION  ***** */
main #content-holder #material-holder {
  justify-self: left;
  width: 82%;
  height: 800px;
}

main .content-box .material-nav ul {
  padding: 20px 50px;
  display: flex;
  background-color: #8b9fb7;
}

main .content-box .material-nav li {
  padding: 0 100px;
  width: 100px;
  color: #e0e8f2;
  text-align: center;
}

main .content-box nav li :hover {
  color: #262c3d;
}

#plan-btn {
  cursor: pointer;
  font-family: 'NEXON';
}

#diary-btn {
  cursor: pointer;
  font-family: 'NEXON';
}
