/* plan(main.ejs) 파트*/

/* 폰트 */
@font-face {
  font-family: 'NEXON Bold';
  src: './font/NEXON Lv1 Gothic OTF Bold.otf';
}
@font-face {
  font-family: 'NEXON Light';
  src: './font/NEXON Lv1 Gothic OTF Light.otf';
}
@font-face {
  font-family: 'NEXON';
  src: './font/NEXON Lv1 Gothic OTF.otf';
}

.plan {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.content-box > .plan {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan > #planDate {
  width: 50%;
  cursor: pointer;
  margin: 20px;
  border: 3px solid rgba(146, 168, 234, 0.3);
  border-radius: 20px;

  text-align: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background-color: transparent;
}

#planDate:focus {
  outline: none;
}
.plan > .planAdd {
  height: 100%;
  /* width: 85%;

  padding: 10px; */

  background-color: transparent;

  border-top: 3px dotted rgba(0, 0, 0, 0.3);

  text-align: center;

  position: relative;
}

#planTextinput {
  text-align: center;
}
#planText {
  margin: 20px;
  border: 3px solid rgba(146, 168, 234, 0.3);
  border-radius: 10px;

  width: 45%;
}
#addButton {
  height: 20px;
  width: 6%;

  border-radius: 20px;
  border: none;

  background-color: rgba(146, 168, 234);
  transition: 0.3s;
  color: white;
  font-weight: 200;

  cursor: pointer;
}

#addButton:hover {
  background-color: rgba(146, 168, 234, 0.4);
}
#noPlantext {
  text-align: center;
  margin: 20px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.planList {
  position: relative;
  height: 580px;
  overflow-y: scroll;
}

.planList::-webkit-scrollbar {
  width: 10px;
}

.planList::-webkit-scrollbar-thumb {
  background-color: rgba(146, 168, 234, 0.2);
  border-radius: 10px;

  max-height: 10px;
}

/* plan.js */
#planItem {
  width: 100%;
  height: 30px;

  background-color: transparent;

  text-align: center;
}

#planItem > #deleteButton {
  height: 20px;
  width: 6%;

  margin: 0 2px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;

  background-color: rgba(146, 168, 234);
  transition: 0.3s;
  color: white;
  font-weight: 200;

  cursor: pointer;
}

#planItem > #deleteButton:hover {
  background-color: rgba(146, 168, 234, 0.4);
}

#planItem > #editButton {
  height: 20px;
  width: 6%;

  margin: 0 2px;

  border-radius: 20px;
  border: none;

  background-color: rgba(146, 168, 234);
  transition: 0.3s;
  color: white;
  font-weight: 200;

  cursor: pointer;
}

#planItem > #editButton:hover {
  background-color: rgba(146, 168, 234, 0.4);
}

#planItem > #planListText {
  margin: 0 20px;
}
